*{
    box-sizing: border-box;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
    max-width: 920px; 
    margin: auto;
}

.header-container {
    background-image: url("./images/pattern-bg-desktop.png");
    background-size: cover;
    padding: 10px 0px 100px 0px;
    z-index: 1;
    margin: 0px; 
    position: relative;
}

.header-form-wrapper{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.header-div{
    margin-bottom: 10px;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-container {
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    min-width: 400px; 
    padding: 15px 0px;
}

.data-container>div{
    padding: 0px 10px;
}

/*INPUT*/
input{
    border-radius: 10px 0px 0px 10px; 
    padding: 10px;
    border: none;
    font-size: .75rem; 
    cursor: pointer;
    width: 320px;
    font-weight: bold;
}

/*MAP*/
#map { 
    height: 100vh;
    z-index: 1;
}

/*BUTTON*/
button{
    background-color: hsl(0, 0%, 17%);
    border-radius: 00px 10px 10px 0px ;  
    padding: 10px;
    border: none;
    cursor: pointer;  
}

button:hover{
    background-color: #474747;
}

/*WARNING*/

#warning-text{
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    display: none; 
    color: white;
    margin: 0px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}

/*COLORS*/
.gray-text{
    color: hsl(0, 0%, 59%); 
}

.dark-gray-text{
    color: hsl(0, 0%, 17%);
}

/*FONT*/
.tiny-font{
    font-size: .65rem; 
}

/*BORDERS*/
.border-right{
    border-right: 1px solid hsl(0, 0%, 17%);  
}

/*MEDIA QUERIES*/
@media (max-width: 500px) {
    .data-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0px; 
        width: 60%;
        min-width: 100px; 
        top: 160px; 
        left: 50%;
    }
    
    .data-container>div{
      border: none;  
    }
    
    .data-container>div>p{
        margin: 0px;
    }
 
    input{
        width: 95%;
    }
    
    #data-ip-address, #data-location, #data-location, #data-timezone{
        margin-bottom: 10px; 
    }
      #data-ip-address, #data-location, #data-timezone{
        margin-top: 5px; 
    }
}
